@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
}

button {
  cursor: pointer;
}

.testtttttttttt {
  color: #f9fafbc7;
  color: #02e1ffc4;
}


/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #9b9b9ba8;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #DC2C26;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ad1a15;
}


/* Modal scrollbar styles */
.modal-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.modal-scrollbar::-webkit-scrollbar-track {
  background: #9b9b9ba8;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ad1a15;
}